<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

	<!-- Adapter Specific sections -->
	<TestRunParameters>
		<Parameter name="browserType" value="local" />
	</TestRunParameters>

	<!-- MSTest adapter -->
	<MSTest>
		<Parallelize>
			<Workers>4</Workers>
			<Scope>MethodLevel</Scope>
		</Parallelize>
	</MSTest>

</RunSettings>